<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="kthp.Properties.Settings.KTHPConnectionString" connectionString="Data Source=MSI\MS_SQLSERVER;Initial Catalog=KTHP;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="kthp.Properties.Settings.KTHPConnectionString1" connectionString="Data Source=DESKTOP-FJ1OSTG\MSSQLSERVER02;Initial Catalog=KTHP;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>